.btn-round {
	width: 40px;
	height: 40px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	&.btn-lg {
		width: 48px;
		height: 48px;
	}
	&.btn-sm {
		width: 34px;
		height: 34px;
	}
	&.btn-xs {
		width: 24px;
		height: 24px;
	}
}